@use "../utils";

.entries {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.entry {
  background-color: utils.$col-white-higher;
  padding: 1.5rem;
  border-radius: utils.$br-2;
  transition-duration: .25s;

  @media screen and (min-width: utils.$bp-tablet) {
    padding: 2rem;
  }

  @media (hover: hover) {
    &:hover {
      box-shadow: 0 3px 10px rgba(0 0 0 / 15%);
      transform: translateY(-3px);
    }
  }

  .title {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: utils.$bp-tablet) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    h2 {
      margin: 0;
    }
  }

  .timestamp {
    color: utils.$col-gray-lighter;
    flex-shrink: 0;
  }

  p {
    margin-top: 2em;
  }

  .info {
    margin-top: .5rem;
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
  }

  .read-more {
    margin-top: 1.5rem;
    background-color: lighten(utils.$col-primary-1, utils.$col-modify);
    cursor: pointer;
  }
}