$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-widescreen: 1216px;


$col-primary-1: #258fdb;
$col-primary-2: #9146f2;

$col-black: #141414;
$col-black-lighter: #464647;
$col-gray: #606061;
$col-gray-lighter: #9a9a9c;
$col-white: #c5c5c7;
$col-white-element: #dedee0;
$col-white-higher: #f0f0fa;

$col-danger: #cc5233;
$col-warning: #d4d43f;
$col-success: #39bf39;

$col-modify-light: 5%;
$col-modify: 15%;


$br-1: 8px;
$br-2: 12px;
$br-3: 17px;