$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-widescreen: 1216px;


$col-primary-1: #258fdb;
$col-primary-2: #9146f2;

$col-black: #141414;
$col-black-lighter: #464647;
$col-gray: #606061;
$col-gray-lighter: #9a9a9c;
$col-white: #d2d2d4;
$col-white-element: #e3e3e6;
$col-white-higher: #e6e6f0;

$col-modify-light: 5%;
$col-modify: 10%;

$br-1: 8px;
$br-2: 12px;
$br-3: 17px;