@use "utils";

body {
  overflow: hidden;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
  transition: font-size .25s;

  @media screen and (min-width: utils.$bp-tablet) {
    font-size: 5rem;
  }
}

.button, .text-muted {
  margin-top: 2rem;
}

p {
  color: utils.$col-gray;
}