/* fallback */
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 100 700;
  src: url(../../fonts/googleicons.woff2) format("woff2");
}
.material-symbols-outlined, .icon {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

/* montserrat-300 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/montserrat-v25-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/montserrat-v25-latin-300.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat-v25-latin-300.woff2") format("woff2"), url("../../fonts/montserrat-v25-latin-300.woff") format("woff"), url("../../fonts/montserrat-v25-latin-300.ttf") format("truetype"), url("../../fonts/montserrat-v25-latin-300.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/montserrat-v25-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/montserrat-v25-latin-500.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat-v25-latin-500.woff2") format("woff2"), url("../../fonts/montserrat-v25-latin-500.woff") format("woff"), url("../../fonts/montserrat-v25-latin-500.ttf") format("truetype"), url("../../fonts/montserrat-v25-latin-500.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/montserrat-v25-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/montserrat-v25-latin-800.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat-v25-latin-800.woff2") format("woff2"), url("../../fonts/montserrat-v25-latin-800.woff") format("woff"), url("../../fonts/montserrat-v25-latin-800.ttf") format("truetype"), url("../../fonts/montserrat-v25-latin-800.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-300italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  src: url("../../fonts/montserrat-v25-latin-300italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/montserrat-v25-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat-v25-latin-300italic.woff2") format("woff2"), url("../../fonts/montserrat-v25-latin-300italic.woff") format("woff"), url("../../fonts/montserrat-v25-latin-300italic.ttf") format("truetype"), url("../../fonts/montserrat-v25-latin-300italic.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-500italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: url("../../fonts/montserrat-v25-latin-500italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/montserrat-v25-latin-500italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat-v25-latin-500italic.woff2") format("woff2"), url("../../fonts/montserrat-v25-latin-500italic.woff") format("woff"), url("../../fonts/montserrat-v25-latin-500italic.ttf") format("truetype"), url("../../fonts/montserrat-v25-latin-500italic.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-800italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  src: url("../../fonts/montserrat-v25-latin-800italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/montserrat-v25-latin-800italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat-v25-latin-800italic.woff2") format("woff2"), url("../../fonts/montserrat-v25-latin-800italic.woff") format("woff"), url("../../fonts/montserrat-v25-latin-800italic.ttf") format("truetype"), url("../../fonts/montserrat-v25-latin-800italic.svg#Montserrat") format("svg"); /* Legacy iOS */
}
* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #c5c5c7;
}

:root {
  font-family: "Montserrat", "Poppins", "Open Sans", sans-serif;
  color: #141414;
}

main {
  width: min(95%, 800px);
  margin-inline: auto;
  padding-block: 5%;
}

h1 {
  margin-bottom: 0.75em;
}

.header {
  margin-bottom: 2rem;
}
.header h1 {
  margin-bottom: 0.15em;
}

h1, h2, h3, h4, h5, h6 {
  background: -webkit-linear-gradient(90deg, #258fdb, #9146f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1:is(h2, h3, h4, h5, h6), h2:is(h2, h3, h4, h5, h6), h3:is(h2, h3, h4, h5, h6), h4:is(h2, h3, h4, h5, h6), h5:is(h2, h3, h4, h5, h6), h6:is(h2, h3, h4, h5, h6) {
  margin-bottom: 0.35em;
}
h1:is(h2, h3, h4, h5, h6):not(:first-child), h2:is(h2, h3, h4, h5, h6):not(:first-child), h3:is(h2, h3, h4, h5, h6):not(:first-child), h4:is(h2, h3, h4, h5, h6):not(:first-child), h5:is(h2, h3, h4, h5, h6):not(:first-child), h6:is(h2, h3, h4, h5, h6):not(:first-child) {
  margin-top: 1em;
}

h1 {
  font-size: 1.85rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.15rem;
}
@media screen and (min-width: 768px) {
  h4 {
    font-size: 1.5rem;
  }
}

div.table {
  width: 100%;
  overflow-x: auto;
}

.text-muted {
  color: #9a9a9c;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}
table thead {
  background: linear-gradient(90deg, #258fdb, #9146f2);
}
table tbody tr {
  background-color: #c5c5c7;
}
table tbody tr:nth-child(odd) {
  background-color: #b8b8ba;
}
table td, table th {
  padding: 0.5rem;
  text-align: left;
}

.box {
  padding: 1rem;
  border-radius: 8px;
}
@media (min-width: 768px) {
  .box {
    padding: 2rem;
  }
}
@media (min-width: 1024px) {
  .box {
    padding: 3rem;
  }
}

/* Inputs */
label {
  color: #464647;
}
label + input, label + textarea {
  margin-top: 0.25rem;
}

.input.required label::after {
  content: "*";
  color: #cc5233;
  margin-left: 0.25ch;
}
.input:not(:last-of-type) {
  margin-bottom: 0.75rem;
}

.form p {
  color: #9a9a9c;
  text-align: center;
}
.form p.mt {
  margin-top: 2.5rem;
}
.form button, .form .button {
  margin-top: 1.25rem;
}

input, textarea {
  padding: 0.75em 1.5em;
  width: 100%;
  border-radius: 8px;
  border: none;
  background-color: #f0f0fa;
  transition: border-color 0.15s;
}
input:focus, textarea:focus {
  outline: none;
  border-color: #258fdb;
}
input:is(textarea), textarea:is(textarea) {
  resize: vertical;
  min-height: 10ch;
  height: 10ch;
  max-height: 50ch;
}

.form {
  background-color: #dedee0;
  padding: 2rem;
  border-radius: 12px;
}
.form input[type=submit], .form .submit {
  margin-top: 1rem;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

button, .button {
  position: relative;
  border: none;
  padding: 0.95rem 1.85rem;
  border-radius: 8px;
  color: #141414;
  background-color: #f0f0fa;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  z-index: 2;
}
button[disabled], .button[disabled] {
  cursor: not-allowed;
}
button[disabled]::before, .button[disabled]::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #606061;
  opacity: 0.25;
}
button.icon-text, .button.icon-text {
  justify-content: center;
}
button.small, .button.small {
  padding: 0.75rem 1.5rem;
}
button.success, .button.success {
  background-color: #39bf39;
  color: #f0f0fa;
}
button.danger, .button.danger {
  background-color: #cc5233;
  color: #f0f0fa;
}
button.muted, .button.muted {
  background-color: #9a9a9c;
}
button::before, .button::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #258fdb, #9146f2);
  color: #f0f0fa;
  opacity: 0;
  transition-duration: 0.15s;
}
button:not([disabled]):hover, .button:not([disabled]):hover {
  color: #f0f0fa;
}
button:not([disabled]):hover::before, .button:not([disabled]):hover::before {
  opacity: 1;
}
button.full, .button.full {
  width: 100%;
}

.simpleflex {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.simpleflex > * {
  margin: 0;
}
.simpleflex.column {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.mood {
  display: inline-flex;
  color: #464647;
  border: 1px solid #9a9a9c;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
}
.mood span {
  font-size: 0.9rem;
}
.mood span.icon {
  font-size: 1.35rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .buttons {
    flex-direction: row;
  }
}
.buttons button {
  justify-content: center;
}

code {
  font-family: monospace;
  background-color: #c1c1c2;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
code.inline {
  padding: 0.25rem 0.5rem;
}

/* Components */
.step-set {
  position: relative;
  overflow: hidden;
  min-height: 0;
  transition-duration: 0.5s;
}
.step-set .step {
  position: absolute;
  width: 100%;
  top: 0;
  left: 110%;
  padding: 3rem;
  transition-duration: 0.5s;
}
.step-set .step.active {
  left: 0;
}
.step-set .step.finished {
  left: -110%;
}
.step-set [data-previous-step],
.step-set [data-next-step],
.step-set [data-step] {
  cursor: pointer;
}

:root {
  --popup-transition-duration: .425s;
  --popup-transition-duration-short: .1s;
}

body.popup-shown {
  overflow: hidden;
}

.popups {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition-duration: var(--popup-transition-duration);
}

.popups.show {
  opacity: 1;
  backdrop-filter: blur(5px) brightness(0.8);
  pointer-events: auto;
}

.popup {
  position: fixed;
  z-index: 999;
  pointer-events: none;
  transition-duration: var(--popup-transition-duration);
  width: min(80%, 50rem);
  max-height: 90%;
  overflow-y: auto;
  background-color: #f0f0fa;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08);
  opacity: 0;
  transform: translate(-50%, calc(-50% + 40px));
  top: 50%;
  left: 50%;
  padding: 2rem;
  border-radius: 10px;
}

.popup.show {
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: auto;
}

.popup .close {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.popup .close::before, .popup .close::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #202020;
  transition-duration: var(--popup-transition-duration-short);
}

.popup .close:hover::before {
  transform: rotate(-45deg);
}

.popup .close:hover::after {
  transform: rotate(45deg);
}

.popup .close::before, .popup .close::after {
  transform: rotate(0);
}

/*# sourceMappingURL=global.css.map */
